<div class="p-5">
    <h1 class="mt-5 mb-5" id="main-title"><span></span> <span></span></h1>
    <select class="form-select mb-3" id="type-input" aria-label="Default select example">
        <option selected>Тип...</option>
        <option value="income">Доход</option>
        <option value="expense">Расход</option>
    </select>
    <select class="form-select mb-3" id="category-input-list" aria-label="Default select example">
        <!--    insert categories here  -->
    </select>
    <input type="number" class="form-control mb-3" id="amount-input" placeholder="Сумма в $...">
    <input type="text" class="form-control mb-3" id="date-input" placeholder="Дата...">
    <input type="text" class="form-control mb-3" id="comment-input" placeholder="Комментарий...">
    <div class="buttons d-flex">
        <button class="btn btn-success" id="button-action" disabled>
            <!-- insert action name here  -->
        </button>
        <button class="btn btn-danger" id="button-cancel">Отмена</button>
    </div>
</div>