<div class="p-5">
    <h1 class="mt-5 mb-5" id="main-title">
        <!--    insert category title here  -->
    </h1>
    <div class="categories d-flex flex-wrap" id="categories">
        <!--    insert cards here   -->
    </div>
</div>

<div class="modal fade" id="modal-window" tabindex="-1" aria-labelledby="modal-header" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header border-0">
                <h2 class="modal-title fs-5 text-center" id="modal-header">
                    Вы действительно хотите удалить категорию? Связанные <span><!-- insert category type here --></span>
                    будут удалены навсегда!
                </h2>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="modal-button-delete">Да,
                    удалить
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="modal-button-close">Не
                    удалять
                </button>
            </div>
        </div>
    </div>
</div>